<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Info Client</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
</head>
<body>
    <!-- 登出按钮 -->
    <button class="logout-button" onclick="logout()">Logout</button>
    <div class="container">
        <h1>Flight Info Client</h1>

        <div class="form-group">
        <h2>Query Flight</h2>
        <label for="source">Source Place:</label>
        <input type="text" id="source" placeholder="Enter source place">
        <label for="destination">Destination Place:</label>
        <input type="text" id="destination" placeholder="Enter destination">
        <button onclick="queryFlight()">Query</button>
        <div id="queryFlightResult" class="result"></div>
        <!-- 表格展示查询结果 -->
        <div id="flightContainer"></div>

    </div>



    <div class="form-group">
        <h2>Query Flight Info</h2>
        <label for="flightInfoId">Flight ID:</label>
        <input type="number" id="flightInfoId" placeholder="Enter flight ID">
        <button onclick="queryFlightInfo()">Query Info</button>
        <div id="queryFlightInfoResult" class="result"></div>
        <div id="flightInfoContainer"></div>
    </div>

    <div class="form-group">
        <h2>Reserve Seats</h2>
        <label for="flightId">Flight ID:</label>
        <input type="number" id="flightId" placeholder="Enter flight ID">
        <label for="seatsCount">Seats Count:</label>
        <input type="number" id="seatsCount" placeholder="Enter number of seats">
        <button onclick="reserveSeats()">Reserve</button>
        <div id="reserveResult" class="result"></div>
    </div>

    <div class="form-group">
        <h2>Monitor Flight</h2>
        <label for="monitorFlightId">Flight ID:</label>
        <input type="number" id="monitorFlightId" placeholder="Enter flight ID">
        <label for="periodTime">Period Time (seconds):</label>
        <input type="number" id="periodTime" placeholder="Enter monitoring period">
        <button onclick="monitorFlight()">Monitor</button>
        <div id="monitorResult" class="result"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
<script src="../static/script.js"></script>

</body>
</html>
