body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* 移除垂直居中和水平居中对齐 */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px; /* 增加宽度以容纳表格 */
    max-width: 90%; /* 确保小屏幕时不超过视窗 */
    margin: 20px auto; /* 自动水平居中并给顶部留出间距 */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px; /* 缩小表格字体 */
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}


h1, h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;  /* 灰色背景 */
    color: #666;  /* 字体颜色变浅 */
    cursor: not-allowed;  /* 鼠标光标显示为禁止符号 */
    border: 1px solid #999;  /* 灰色边框 */
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px;
    /* Ensure the result div is visible */
    display: block;
}
